body
{
	margin: auto;
}

#display
{
	width: 90%;
	min-width: 800px;
	height: auto;
	margin-left: 5%;
}

#dropbox
{
	margin-left: 5%;
	width: 90%%;
	min-width: 798px;
	height: 70px;
	border: solid 1px;
	border-color: red;
	border-radius: 10px;
	text-align: center;
}

#progress_bar
{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}