#dropbox
{
	width: 92%%;
	height: 70px;
	border: solid 2%;
	border-color: red;
	border-radius: 10px;
	text-align: center;
}

#progress_bar
{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

body
{
	margin: auto;
}