body
{
	margin: auto;
}

#display
{
	width: 90%;
	min-width: 800px;
	margin-left: 5%;
}

div.img_slot
{
	margin-bottom: 10px;
	width: 25%;
	min-width: 200px;
	height: 200px;
	position: relative;
	float: left;
}

div.img
{
	min-width: 198px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 180px;

	text-align: center;
	border: solid 1px red;
	border-radius: 5px;
}

img.image
{
	max-width: 198px;
	max-height: 180px;
	border-radius: 5px;
}

img.image:hover
{
	cursor: pointer;
}

p.name
{
}

img.edit
{
	display: none;
	border-radius: 5px;
	height: 30px;
	width: 30px;
	margin-left: 5%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	cursor: pointer;
	background-color: white;
}

img.delete
{
	display: none;
	border-radius: 5px;
	height: 30px;
	width: 30px;
	margin-left: 5%;
	position: absolute;
	left: 35px;
	top: 0px;
	z-index: 1;
	cursor: pointer;
	background-color: white;
}

#dropbox
{
	margin-left: 5%;
	width: 90%%;
	min-width: 798px;
	height: 70px;
	border: solid 1px;
	border-color: red;
	border-radius: 10px;
	text-align: center;
}

#progress_bar
{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	min-width: 800px;
}

#display_large
{
}

#table
{
	text-align: center;
}

#nw
{
	width: 10px;
	height: 10px;
}

#ne
{
	width: 10px;
	height: 10px;
}

#sw
{
	width: 10px;
	height: 10px;
}

#se
{
	width: 10px;
	height: 10px;
}

#n
{
	height: 10px;
}

#s
{
	height: 10px;
}

#w
{
	width: 10px;
}

#e
{
	width: 10px;
}

#image_large
{
}

#image_background
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 99;
	background-color: gray;
	opacity: 0.8;
}